/* .ad-detail-container{
    align-content: center;
} */
html{
    background-color: white;
}
.detail-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px 50px 50px 50px;
    background-color: white;
}

.detail-content{
    padding-top: 15vh;
    width: 50vw;
}

.name-label{
    font-size: 1.5rem;
}

.detail-photo img{
    object-fit:contain;
    border-radius: 15px;
    width: 50vw;
    max-height: 90vh;
}

.edit-button, .delete-button {
    margin-top: 1rem;
}

.delete-button {
    color: red;
    background-color: white;
    border-color: rgb(233, 73, 73,.9);
}
.delete-button:hover {
    background-color: red;;
}

.delete-button.hidden, .edit-button.hidden{
    visibility: hidden;
}

.button-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}