/* .ad-detail-container{
    align-content: center;
} */
.detail-container{
    display: flex;
    flex-direction: row;
    padding: 50px;
    /* background-color: white; */
}

.detail-content{
    width: 40vw;
}

/* .detail-photo{
    border-radius: 15px;
} */

.delete-button {
    color: white;
    background-color: rgb(233, 73, 73);
    border-color: white;
}
.delete-button:hover{
    background-color: red;;
}

.delete-button.hidden, .edit-button.hidden{
    visibility: hidden;
}